<div data-controller="ideas">
  <%= render "welcome" %>
  <%= render "profile_step1" %>
  <%= render "profile_step2" %>
  <%= render "profile_step3" %>
  <%= render "profile_complete" %>
  <%= render "home" %>
  <%= render "loading" %>
  <%= render "result" %>
  <%= render "profile_edit" %>
</div>
